{% load static %}
<!-- Mobile-header-top Start -->
<div class="mobile-header-top d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- header-search-mobile start -->
                <div class="header-search-mobile">
                    <div class="table">
                        <div class="table-cell">
                            <ul>
                                <li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li>
                                <li><a href="{% url 'web:login' %}"><i class="zmdi zmdi-lock"></i></a></li>
                                <li><a href="my-account.html"><i class="zmdi zmdi-account"></i></a></li>
                                <li><a href="{% url 'web:wishlist' %}"><i class="zmdi zmdi-favorite"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-search-mobile start -->
            </div>
        </div>
    </div>
</div>
<!-- Mobile-header-top End -->
<!-- HEADER-AREA START -->
<header id="sticky-menu" class="header">
    <div class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4 col-7">
                    <div class="logo text-md-center">
                        <a href="{% url 'web:index' %}"><img src="{% static 'web/img/logo/logo.png' %}" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4 col-5">
                    <div class="mini-cart text-end">
                        <ul>
                            <li>
                                <a class="cart-icon" href="#">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                    <span>3</span>
                                </a>
                                <div class="mini-cart-brief text-left">
                                    <div class="cart-items">
                                        <p class="mb-0">You have <span>03 items</span> in your shopping bag</p>
                                    </div>
                                    <div class="all-cart-product clearfix">
                                        <div class="single-cart clearfix">
                                            <div class="cart-photo">
                                                <a href="#"><img src="img/cart/1.jpg" alt="" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">dummy product name</a></h5>
                                                <p class="mb-0">Price : $ 100.00</p>
                                                <p class="mb-0">Qty : 02 </p>
                                                <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                            </div>
                                        </div>
                                        <div class="single-cart clearfix">
                                            <div class="cart-photo">
                                                <a href="#"><img src="img/cart/2.jpg" alt="" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">dummy product name</a></h5>
                                                <p class="mb-0">Price : $ 300.00</p>
                                                <p class="mb-0">Qty : 01 </p>
                                                <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-totals">
                                        <h5 class="mb-0">Total <span class="floatright">$500.00</span></h5>
                                    </div>
                                    <div class="cart-bottom  clearfix">
                                        <a href="{% url 'web:cart' %}" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                        <a href="{% url 'web:checkout' %}" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN-MENU START -->
    <div class="menu-toggle hamburger hamburger--emphatic d-none d-md-block">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <div class="main-menu  d-none d-md-block">
        <nav>
            <ul>
                <li><a href="{% url 'web:index' %}">home</a>
                </li>
                <li><a href="{% url 'web:shop' %}">products</a>
                </li>
                <li><a href="#">Shortcodes</a>
                                   </li>
                <li><a href="shop-sidebar.html">accesories</a></li>
                <li><a href="shop-list.html">lookbook</a></li>
                <li><a href="{% url 'web:blog' %}">blog</a></li>
                <li><a href="#">pages</a>
                    <div class="sub-menu menu-scroll">
                        <ul>
                            <li class="menu-title">Page's</li>
                            <li><a href="{% url 'web:shop' %}">Shop</a></li>
                            <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                            <li><a href="shop-grid-right-sidebar.html">Shop Right Sidebar</a></li>
                            <li><a href="shop-list.html">Shop List</a></li>
                            <li><a href="shop-list-right-sidebar.html">Shop List right sidebar</a></li>
                            <li><a href="single-product.html">Single Product</a></li>
                            <li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
                            <li><a href="{% url 'web:cart' %}">Shopping Cart</a></li>
                            <li><a href="{% url 'web:wishlist' %}">Wishlist</a></li>
                            <li><a href="{% url 'web:checkout' %}">Checkout</a></li>
                            <li><a href="order.html">Order</a></li>
                            <li><a href="{% url 'web:login' %}">login / Registration</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="{% url 'web:error' %}">404</a></li>
                            <li><a href="{% url 'web:blog' %}">Blog</a></li>
                            <li><a href="single-{% url 'web:blog' %}">Single Blog</a></li>
                            <li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
                            <li><a href="{% url 'web:about' %}">About Us</a></li>
                            <li><a href="{% url 'web:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'web:about' %}">about us</a></li>
                <li><a href="{% url 'web:contact' %}">contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- MAIN-MENU END -->
</header>
<!-- HEADER-AREA END --><div class="mobile-menu-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 d-block d-md-none">
							<div class="mobile-menu">
								<nav id="dropdown">
									<ul>
										<li><a href="{% url 'web:index' %}">home</a>
											<ul>
												<li><a href="{% url 'web:index' %}">Home Version 1</a></li>
												<li><a href="index-3.html">Home Version 2</a></li>
											</ul>
										</li>
										<li><a href="{% url 'web:shop' %}">products</a></li>
										<li><a href="shop-sidebar.html">accesories</a></li>
										<li><a href="shop-list.html">lookbook</a></li>
										<li><a href="{% url 'web:blog' %}">blog</a></li>
										<li><a href="#">pages</a>
											<ul>
												<li><a href="{% url 'web:shop' %}">Shop</a></li>
												<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
												<li><a href="shop-list.html">Shop List</a></li>
												<li><a href="single-product.html">Single Product</a></li>
												<li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
												<li><a href="{% url 'web:cart' %}">Shopping Cart</a></li>
												<li><a href="{% url 'web:wishlist' %}">Wishlist</a></li>
												<li><a href="{% url 'web:checkout' %}">Checkout</a></li>
												<li><a href="order.html">Order</a></li>
												<li><a href="{% url 'web:login' %}">login / Registration</a></li>
												<li><a href="my-account.html">My Account</a></li>
												<li><a href="{% url 'web:error' %}">404</a></li>
												<li><a href="{% url 'web:blog' %}">Blog</a></li>
												<li><a href="single-{% url 'web:blog' %}">Single Blog</a></li>
												<li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
												<li><a href="{% url 'web:about' %}">About Us</a></li>
												<li><a href="{% url 'web:contact' %}">Contact</a></li>
											</ul>
										</li>
										<li><a href="{% url 'web:about' %}">about us</a></li>
										<li><a href="{% url 'web:contact' %}">contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile-menu end -->